.feature {
  position: relative;
  &-image{
    position: relative;
    text-align: center;
    &-shape{
      position: absolute;
      z-index: -1;
    }
    img{
      max-width: 100%;
    }
  }
  &-content {
    h2 {
      margin-bottom: 30px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 30px;
    }

    .btn.btn-primary {
      margin-right: 15px;
      background: $primary-color;
      border: 1px solid #FE7380;
      font-size: 16px;
      font-weight: bold;
      transition: all .5s ease-in-out;
      box-shadow: 0px 8px 20px rgba(255, 115, 128, .3);
    }

    .btn.btn-primary:hover {
      background: $white;
      border: 1px solid #FE7380;
    }

    .btn.btn-primary:hover>.btn-area {
      color: black;
    }

    .feature-content-list {

      margin-top: 50px;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;

          i {
            width: 38px;
            float: left;
            padding: 10px;
            border: 1.5px solid #FE7380;
            border-radius: 50%;
            margin-top: 10px;
            margin-right: 20px;
            color: #FE7380;
          }

          p {
            font-weight: 500;
            line-height: 55px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}