.feature {
  position: relative;
  overflow: hidden;

  &-image {
    position: relative;
    text-align: center;

    &-shape {
      position: absolute;
      z-index: -1;
    }

    img {
      max-width: 100%;
    }
  }

  &-content {
    h2 {
      margin-bottom: 30px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 30px;
    }
    &-list {

      margin-top: 50px;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          display: flex;
          align-items: center;
          &:not(:last-child){
            margin-bottom: 15px;
          }
          i {
            width: 38px;
            height: 38px;
            text-align: center;
            line-height: 38px;
            border: 1px solid #FE7380;
            border-radius: 50%;
            margin-right: 15px;
            color: #FE7380;
            display: inline-block;
          }
          p {
            font-weight: 500;
            margin-bottom: 0;
            display: inline-block;
            color: $text-color-dark;
          }
        }
      }
    }
  }
}