.footer {
    position: relative;
    padding-bottom: 120px;
    margin-top: 290px;
    overflow: hidden;
    background: url(../images/footer/footer-bg.svg);
    background-position: top center;
    background-size: cover;

    &-background {
        position: absolute;
    }

    &-tittel {
        margin-top: 220px;

        h2 {
            text-align: center;
            margin: 0px 0 60px;
        }
    }

    .from-group {
        margin-bottom: 100px;

        position: relative;

        .input-group {
            padding: 0;

            .form-control {
                position: relative;
                border-radius: 50px;
                border: none;
                padding: 20px 200px 20px 40px;
                background: #fff;
                width: 70%;
                z-index: 0;
                box-shadow: 20px 20px 50px rgba(0, 0, 0, .1);
                height: 80px;
            }

            .subscribe {
                position: absolute;
                z-index: 1;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                a {
                    height: 60px;
                    padding: 10px 30px;
                    box-shadow: 0px 8px 20px rgba(255, 115, 128, .3);
                    background: $primary-color;
                    font-weight: 600;
                    color: $white;
                    display: flex;
                    align-items: center;
                    svg{
                        margin-left: 10px;
                    }
                }
            }
        }
    }


    .footer-left {
        img {
            margin-bottom: 20px;
        }
        .coppy-right {
            p {
                color: #7A8081;
                line-height: 36px;
            }
        }
    }

    &-social{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            display: inline-block;
            &:not(:last-child){
                margin-right: 10px;
            }
            a{
                display: block;
                color: $text-color;
                transition: 0.3s ease;
                &:hover{
                    color: $text-color-dark;
                    text-decoration: none;
                }
            }
        }
    }

    .footer-mid {
        h4 {
            font-size: 22px;
            font-weight: 600;
        }

        .footer-list {
            text-align: left;

            ul {
                padding: 0;
                margin: 0;

                li {
                    list-style: none;
                    padding-top: 10px;

                    a {
                        color: $text-color;
                        text-decoration: none;
                        transition: all.5s ease-in-out;
                    }
                }
            }

            a:hover {
                color: #000;
            }
        }


    }

    .footer-right {
        h1 {
            font-size: 22px;
            font-weight: 600;
        }

        .footer-list {
            text-align: left;

            ul {
                padding: 0;
                margin: 0;

                li {
                    list-style: none;
                    padding-top: 10px;

                    a {
                        color: $text-color;
                        text-decoration: none;
                        transition: all.5s ease-in-out;

                        i {
                            margin-right: 15px;
                            width: 15px;
                        }
                    }

                    i {
                        margin-right: 15px;
                        width: 15px;
                    }


                }
            }

            a:hover {
                color: #000;
            }
        }


    }

}