.Frequently {
    margin: 150px 0 215px 0;

    .frequently-left-contant {
        background: $white;
        border-radius: 5px;
        box-shadow: 20px 20px 50px rgba(58, 30, 12, .15);
        margin-bottom: 20px;
        margin-top: 75%;

        .services-content {
            padding: 20px;

            img {
                width: 45%;
                padding-top: 20px;
            }

            h4 {
                margin-top: 20px;
                font-size: 22px;
                font-weight: 600;
            }

            p {
                font-size: 16px;
                line-height: 30px;
                color: $text-color-dark;

            }


        }


    }



    .frequently-right-contant {
        background: $white;
        border-radius: 5px;
        box-shadow: 20px 20px 50px rgba(58, 30, 12, .15);
        margin-bottom: 20px;

        .services-content {
            padding: 20px;

            img {
                width: 45%;
                padding-top: 20px;
            }

            h4 {
                margin-top: 20px;
                font-size: 22px;
                font-weight: 600;
            }

            p {
                font-size: 16px;
                line-height: 30px;
                color: $text-color-dark;
            }
        }
    }

    .frequently1 {
        margin-bottom: 210px;
    }

    .frequently-right-aria {
        margin-left: 30px;
        margin-top: 170px;
    }
}