.hero {
  position: relative;
  padding: 150px 0 100px;

  @include desktop {
    text-align: center;
    padding-bottom: 20px;
  }

  &-content {
    &-subtitle {
      font-size: 14px;
      font-weight: 400;
      color: $primary-color;
      text-transform: uppercase;
      margin-bottom: 10px;
      display: inline-block;
      letter-spacing: 3px;
    }

    h1 {
      margin-bottom: 25px;

      @include tablet {
        font-size: 40px;
      }

      @include mobile {
        font-size: 25px;
        line-height: 30px;
      }

      @include mobile-xs {
        font-size: 20px;
      }
    }

    p {
      font-size: 17px;
      line-height: 37px;
      font-weight: 400;
      margin-bottom: 40px;

      @include mobile {
        font-size: 14px;
      }
    }

    &-buttons {
      padding-left: 0;
      margin: 0;
      list-style: none;

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 15px;

          @include mobile-xs {
            margin-right: 0;
          }
        }
      }
    }
  }

  &-image {
    img {
      width: 100%;

    }
  }

  &-svg-icon {
    position: absolute;
    top: 0px;
    right: -505px;
    width: 99%;

    svg {
      path {
        &:first-child {
          fill: #FFECEE;
        }
      }
    }
  }
}