.hero {
  position: relative;
  padding: 150px 0 100px;

  &-content {
    &-subtitle {
      font-size: 20px;
      font-weight: 400;
      color: $primary-color;
      text-transform: uppercase;
      margin-bottom: 25px;
      display: inline-block;
    }

    h1 {
      margin-bottom: 25px;
    }

    p {
      font-size: 17px;
      line-height: 37px;
      font-weight: 400;
      margin-bottom: 40px;
    }
    &-buttons{
      padding-left: 0;
      margin: 0;
      list-style: none;
      li{
        display: inline-block;
        &:not(:last-child){
          margin-right: 15px;
        }
      }
    }
  }

  &-image {
    img {
      width: 100%;
    }
  }


}