.screenshots {
  background: $bg-color;
  padding-bottom: 200px;
  margin-top: 50px;

  @include desktop {
    padding-bottom: 150px;
  }

  &-wrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }

  &-slider-frame {
    position: absolute;
    left: 50%;
    top: calc(50% - 1px);
    transform: translate(-50%, -50%);
    width: calc(20% - 16px);
    z-index: 1;

    @include tablet {
      width: 96%;
    }

    img {
      width: 100%;
    }
  }

  &-titel {
    margin-top: 120px;
    margin-bottom: 55px;

    h2 {
      text-align: center;
      font-weight: 700;
      margin-bottom: 40px;

      @include tablet {
        font-size: 35px;
      }

      @include mobile {
        font-size: 25px;
        line-height: 35px;
      }
    }

    p {
      text-align: center;
      font-size: 17px;
      line-height: 30px;
    }
  }

  &-slider {

    &-item {
      padding: 0 15px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .slick-dots {
      position: absolute;
      bottom: -90px;
    }

    .slick-dots li {
      display: inline-block;
      margin: 0 2px;
    }

    .slick-dots li button {
      border: 1.5px solid #FE7380;
      text-indent: -999999999px;
      width: 5px;
      height: 5px;
      outline: 0;
      border-radius: 50%;
      padding: 5px;
    }

    .slick-dots li.slick-active button {
      background: #FE7380;
      box-shadow: 0 4px 10px rgba(193, 94, 103, 0.3);
    }
  }


}