.service {
  padding: 60px 0 80px;

  @include mobile-xs {
    padding-bottom: 0;
  }

  &-hadding {
    h1 {
      text-align: center;
      font-weight: 700;
      margin-bottom: 60px;
    }
  }

  &-item {
    position: relative;
    background: $white;
    background: #fff;
    box-shadow: 0px 20px 25px rgba(67, 103, 90, .1);
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 3px;
    padding: 25px 20px 40px;
    transition: transform 0.3s $site-ease;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      left: 0;
      bottom: 0;
      z-index: 1;
      transform: scaleX(0);
      transition: transform 0.5s $site-ease;
      transform-origin: right;
    }

    &:hover {
      transform: scale(1.05);

      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }

    &.pink {
      .service-icon {
        svg {
          path {
            &:first-child {
              fill: #FFECEE;
            }
          }
        }
      }

      &::after {
        background: rgb(255, 187, 193);
      }
    }

    &.blue {
      .service-icon {
        svg {
          path {
            &:first-child {
              fill: #E8F1FF;
            }
          }
        }
      }

      &::after {
        background: rgb(143, 186, 255);
      }
    }

    &.yellow-light {
      .service-icon {
        svg {
          path {
            &:first-child {
              fill: #FFF7D8;
            }
          }
        }
      }

      &::after {
        background: rgb(254, 231, 140);
      }
    }

    &.blue-light {
      .service-icon {
        svg {
          path {
            &:first-child {
              fill: #DFF1F4;
            }
          }
        }
      }

      &::after {
        background: rgb(121, 228, 247);
      }
    }
  }

  &-icon {
    position: relative;
    width: 100%;
    height: 145px;

    svg {
      position: absolute;
      height: 100%;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }

    i {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      color: $black;
      display: inline-block;
    }
  }

  &-content {
    text-align: center;

    img {
      width: 45%;
      padding-top: 20px;
    }

    h4 {
      margin-top: 20px;
      font-size: 22px;
      font-weight: 600;

      @include mobile {
        font-size: 18px;
      }

      @include mobile-xs {
        font-size: 16px;
      }
    }

    p {
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 0;

      @include mobile {
        font-size: 14px;
      }
    }
  }
}