.service {
  padding: 60px 0 80px;

  &-hadding {
    h1 {
      text-align: center;
      font-weight: 700;
      margin-bottom: 60px;
    }
  }

  &-item {
    background: $white;
    background: #fff;
    box-shadow: 0px 20px 45px rgba(67, 103, 90, .1);
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 6px;
    padding: 25px 20px 40px;

    &.pink {
      .service-icon {
        svg {
          path {
            &:first-child {
              fill: #FFECEE;
            }
          }
        }
      }
    }

    &.blue {
      .service-icon {
        svg {
          path {
            &:first-child {
              fill: #E8F1FF;
            }
          }
        }
      }
    }

    &.yellow-light {
      .service-icon {
        svg {
          path {
            &:first-child {
              fill: #FFF7D8;
            }
          }
        }
      }
    }

    &.blue-light {
      .service-icon {
        svg {
          path {
            &:first-child {
              fill: #DFF1F4;
            }
          }
        }
      }
    }
  }

  &-icon {
    position: relative;
    width: 100%;
    height: 145px;

    svg {
      position: absolute;
      height: 100%;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }

    img {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-content {
    text-align: center;

    img {
      width: 45%;
      padding-top: 20px;
    }

    h4 {
      margin-top: 20px;
      font-size: 22px;
      font-weight: 600;
    }

    p {
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 0;
    }
  }
}