.service {
  padding: 30px 0 50px;

  .services-hadding {
    h1 {
      text-align: center;
      font-weight: 700;
      color: #273437;
      margin-bottom: 50px;
    }
  }

  .services-box {
    background: $white;
    background: #fff;
    box-shadow: 0px 20px 45px;
    margin-bottom: 20px;

    .services-content {
      text-align: center;
      padding: 20px;

      img {
        width: 45%;
        padding-top: 20px;
      }

      h4 {
        margin-top: 20px;
        color: #273437;
        font-size: 22px;
        font-weight: 600;
      }

      p {
        font-size: 16px;
        line-height: 30px;

      }
    }
  }
}