.testimonial {
  background: $bg-color;
  padding-bottom: 200px;
  margin-top: 50px;

  &-wrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }

  &-slider-frame {
    position: absolute;
    left: 54%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 69%;
    }
  }

  &-tittel {
    margin-top: 120px;
    margin-bottom: 55px;

    h1 {
      text-align: center;
      font-weight: 700;
      margin-bottom: 40px;
    }

    p {
      text-align: center;
      font-size: 17px;
      line-height: 30px;
    }
  }

  &-slider {

    &-item {
      padding: 0 15px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }


  .testimonial-slider .slick-dots {
    position: absolute;
    bottom: -90px;
  }

  .testimonial-slider .slick-dots li {
    display: inline-block;
  }

  .testimonial-slider .slick-dots li button {
    border: 2px solid #FE7380;
    margin: 0 5px;
    text-indent: -999999999px;
    width: 5px;
    height: 5px;
    outline: 0;
    border-radius: 50%;
    padding: 5px;
  }

  .testimonial-slider .slick-dots li.slick-active button {
    background: #FE7380;
  }
}