.video {
    background: #F9F2EA;
    padding-bottom: 120px;
    position: relative;

    &-ifram {
        margin-top: -25%;

        img {
            width: 100%;
        }
    }

    &-icon {
        position: absolute;
        top: -46px;
        left: 42%;
        border: 2px solid white;
        border-radius: 50%;
        background: $white;
        z-index: 1;
        width: 90px;
        height: 90px;

        i {
            color: red;
            width: 30px;
            height: 25px;
            position: absolute;
            text-align: center;
            top: 32px;
            left: 33%;
            font-size: 30px;
        }
    }

    &-ifram::after {
        content: "";
        width: 140px;
        height: 140px;
        left: 374px;
        border: 25px solid #f5f5f5ad;
        border-radius: 50%;
        top: -71px;
        position: absolute;
    }

    &-ifram::before {
        content: "";
        width: 190px;
        height: 190px;
        left: 349px;
        border: 25px solid #dad0d673;
        border-radius: 50%;
        top: -96px;
        position: absolute;
    }

    &-content {
        text-align: center;
        margin-top: 100px;

        h2 {
            margin-top: 60px;
            line-height: 65px;
            margin-bottom: 50px;
        }
    }
}