.video {
    background: #F9F2EA;
    padding-bottom: 120px;
    position: relative;

    &-iframe {
        margin-top: -25%;

        img {
            width: 100%;
        }
    }

    &-icon {
        position: absolute;
        border: 2px solid white;
        border-radius: 50%;
        background: #fff;
        z-index: 1;
        width: 90px;
        height: 90px;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        i {
            color: red;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            font-size: 30px;
            transform: translate(-50%, -50%);
        }
    }

    &-iframe::before,
    &-iframe::after {
        content: "";
        background: rgba($color: $white, $alpha: 0.5);
        border-radius: 50%;
        top: 0;
        left: 50%;
        position: absolute;
        transform-origin: top left;
        animation-name: grow;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    &-iframe::after {
        width: 140px;
        height: 140px;

        @include mobile-xs {
            width: 130px;
            height: 130px;
        }
    }

    &-iframe::before {
        width: 190px;
        height: 190px;
        animation-delay: 1s;

        @include mobile-xs {
            width: 170px;
            height: 170px;
        }
    }

    &-content {
        text-align: center;
        margin-top: 100px;

        h2 {
            margin-top: 60px;
            line-height: 65px;
            margin-bottom: 50px;

            @include tablet {
                font-size: 30px;
            }

            @include mobile {
                font-size: 25px;
                line-height: 35px;
            }
        }

        &-buttons {
            @extend .hero-content-buttons;
        }
    }
}

@keyframes grow {
    0% {
        transform: scale(0.8) translate(-50%, -50%);
    }

    100% {
        transform: scale(1) translate(-50%, -50%);
    }
}