<section class="all-post">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <article class="blog-post-item">
          <div class="blog-post-thumb">
            <a href="single-blog.html"> <img src="images/blog/allpost-1.jpg" alt="blog-thumb" /></a>
          </div>
          <div class="blog-post-content">
            <h2><a href="single-blog.html">How to Post on Instagram from PC or MAC?</a></h2>
            <p>Executive Summary: Feasibility of usage of PC or MAC to post on Instagram Tips to use PC or MAC to post
              Use of Later to schedule posts Role of LightningLikes in gaining more followers and likes This is the era
              of the internet. We all belong to a generation where social media has taken over
            </p>
        </article>
      </div>
      <div class="col-lg-4">
        <article class="blog-post-item">
          <div class="blog-post-thumb">
            <a href="single-blog.html"> <img src="images/blog/allpost-2.jpg" alt="blog-thumb" /></a>
          </div>
          <div class="blog-post-content">
            <h2><a href="single-blog.html">How to Post on Instagram from PC or MAC?</a></h2>
            <p>Executive Summary: Feasibility of usage of PC or MAC to post on Instagram Tips to use PC or MAC to post
              Use of Later to schedule posts Role of LightningLikes in gaining more followers and likes This is the era
              of the internet. We all belong to a generation where social media has taken over
            </p>
        </article>
      </div>
      <div class="col-lg-4">
        <article class="blog-post-item">
          <div class="blog-post-thumb">
            <a href="single-blog.html"> <img src="images/blog/allpost-3.jpg" alt="blog-thumb" /></a>
          </div>
          <div class="blog-post-content">
            <h2><a href="single-blog.html">How to Post on Instagram from PC or MAC?</a></h2>
            <p>Executive Summary: Feasibility of usage of PC or MAC to post on Instagram Tips to use PC or MAC to post
              Use of Later to schedule posts Role of LightningLikes in gaining more followers and likes This is the era
              of the internet. We all belong to a generation where social media has taken over
            </p>
        </article>
      </div>
      <div class="col-lg-4">
        <article class="blog-post-item">
          <div class="blog-post-thumb">
            <a href="single-blog.html"> <img src="images/blog/allpost-4.jpg" alt="blog-thumb" /></a>
          </div>
          <div class="blog-post-content">
            <h2><a href="single-blog.html">How to Post on Instagram from PC or MAC?</a></h2>
            <p>Executive Summary: Feasibility of usage of PC or MAC to post on Instagram Tips to use PC or MAC to post
              Use of Later to schedule posts Role of LightningLikes in gaining more followers and likes This is the era
              of the internet. We all belong to a generation where social media has taken over
            </p>
        </article>
      </div>
      <div class="col-lg-4">
        <article class="blog-post-item">
          <div class="blog-post-thumb">
            <a href="single-blog.html"> <img src="images/blog/allpost-5.jpg" alt="blog-thumb" /></a>
          </div>
          <div class="blog-post-content">
            <h2><a href="single-blog.html">How to Post on Instagram from PC or MAC?</a></h2>
            <p>Executive Summary: Feasibility of usage of PC or MAC to post on Instagram Tips to use PC or MAC to post
              Use of Later to schedule posts Role of LightningLikes in gaining more followers and likes This is the era
              of the internet. We all belong to a generation where social media has taken over
            </p>
        </article>
      </div>
      <div class="col-lg-4">
        <article class="blog-post-item">
          <div class="blog-post-thumb">
            <a href="single-blog.html"> <img src="images/blog/allpost-6.jpg" alt="blog-thumb" /></a>
          </div>
          <div class="blog-post-content">
            <h2><a href="single-blog.html">How to Post on Instagram from PC or MAC?</a></h2>
            <p>Executive Summary: Feasibility of usage of PC or MAC to post on Instagram Tips to use PC or MAC to post
              Use of Later to schedule posts Role of LightningLikes in gaining more followers and likes This is the era
              of the internet. We all belong to a generation where social media has taken over
            </p>
        </article>
      </div>
      <div class="col-lg-12">
        <div class="blog-pagination">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">
                  <i class="ti-arrow-right"></i>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>