<section class="blog-post" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="section-title">
          <h2>Recent Articles</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <article class="blog-post-item">
          <div class="blog-post-thumb">
            <a href="single-blog.html">
              <img src="images/blog/blog-post-1.jpg" alt="blog-thumb"
            /></a>
          </div>
          <div class="blog-post-content">
            <h2>
              <a href="single-blog.html"
                >Exciting updates to Aspho Mobile App</a
              >
            </h2>
            <div class="post-author">
              <div class="thumb">
                <img src="images/client/client-1.png" alt="author-thumb" />
              </div>
              <div class="meta">
                <h3>Jesia Lickons</h3>
                <p>Jul 13, 2020</p>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6">
        <article class="blog-post-item">
          <div class="blog-post-thumb">
            <a href="single-blog.html">
              <img src="images/blog/blog-post-2.jpg" alt="blog-thumb"
            /></a>
          </div>
          <div class="blog-post-content">
            <h2>
              <a href="single-blog.html"
                >A new year, a new website. Introducing Apsho 1.3
              </a>
            </h2>
            <div class="post-author">
              <div class="thumb">
                <img src="images/client/client-3.png" alt="author-thumb" />
              </div>
              <div class="meta">
                <h3>Marlon Simons</h3>
                <p>Jul 13, 2020</p>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-lg-4 col-md-6">
        <article class="blog-post-item">
          <div class="blog-post-thumb">
            <a href="single-blog.html"
              ><img src="images/blog/blog-post-3.jpg" alt="blog-thumb"
            /></a>
          </div>
          <div class="blog-post-content">
            <h2>
              <a href="single-blog.html">Announcing our 2020 Roadmap</a>
            </h2>
            <div class="post-author">
              <div class="thumb">
                <img src="images/client/client-2.png" alt="author-thumb" />
              </div>
              <div class="meta">
                <h3>Jackson Wick</h3>
                <p>Jul 13, 2020</p>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="see-all-post col-12">
        <a href="blog.html" data-text="See all posts" class="btn btn-primary">
          <span>See all posts</span>
        </a>
      </div>
    </div>
  </div>
</section>
