<section class="client">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="client-slider">
                    <div class="client-content">
                        <h1>What clients are say
                            about this app</h1>
                        <p>The quick brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz
                            graced by fox whelps. Bawds jog flick quartz vex nymphs. Waltz bad nymph for quick vex! Fox
                            nymphs grab quick-jived waltz.
                        </p>
                    </div>
                    <div class="client-content">
                        <h1>What clients are say
                            about this app</h1>
                        <p>The quick brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz
                            graced by fox whelps. Bawds jog flick quartz vex nymphs. Waltz bad nymph for quick vex! Fox
                            nymphs grab quick-jived waltz.
                        </p>
                    </div>
                    <div class="client-content">
                        <h1>What clients are say
                            about this app</h1>
                        <p>The quick brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz
                            graced by fox whelps. Bawds jog flick quartz vex nymphs. Waltz bad nymph for quick vex! Fox
                            nymphs grab quick-jived waltz.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="client-add">
                    <p class="client-add-paragrap">Quartz vex nymphs Waltz bad nymph for quick jigs <br> vex! Fox nymphs
                        grab quick-jived
                        waltz.Brick quiz <br> whangs jumpy veldt.
                    </p>
                    <div class="client-logo">
                        <img src="images/client/client-1.png" alt="">
                    </div>
                    <div class="client-tittle">
                        <h1>Jessica Holmes</h1>
                        <p>Designer</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>