<section class="feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="feature-left-aria">
          <div class="feature-img">
            <img src="images/feature/Mobile.svg" alt="">
          </div>
          <div class="feature-logo-img">
            <img src="images/feature/Main_screen.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-righr-aria">
          <div class="feature-contant">
            <h1>Ultimate experiences <br>
              with story, emotion and
              purpose</h1>
            <p>The quick brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by
              fox
              whelps. Bawds jog flick quartz vex nymphs. Waltz bad nymph for quick vex! Fox nymphs grab quick-jived
              waltz.
            </p>
            <p> Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack. Quick wafting zephyrs.</p>


            <a href="#" class="btn btn-primary ">
              <span class="btn-area">
                Try It Free

              </span>
            </a>

          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-righr-aria">
          <div class="feature-contant">
            <h1>Product start analytics <br>
              with real problems.</h1>
            <p>The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by
              fox whelps. Bawds jog, flick quartz, vex nymphs.
            </p>
            <div class="feature-content-list">
              <ul>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  <p> Next to the hosting account you want to use.</p>
                </li>
                <li><i class="fa fa-check" aria-hidden="true"></i>
                  <p>Select or enter the domain name you want to use.</p>
                </li>
                <li><i class="fa fa-check" aria-hidden="true"></i>
                  <p>After you purchase a hosting plan</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-left-aria">
          <div class="feature-img">
            <img src="images/feature/Mobile.svg" alt="">
          </div>
          <div class="feature-logo-img">
            <img src="images/feature/Main_screen.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>