<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-subscribe-title">
          <h2>Get the latest app updates</h2>
        </div>
      </div>
      <div class="col-lg-8 mx-auto">
        <form action="#" class="footer-subscribe-form">
          <div class="from-group">
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Enter Your E-mail">
              <div class="subscribe">
                <button class="btn btn-subscribe" type="submit">
                  <span class="btn-area">
                    Subscribe
                  </span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16.317" height="15.323" viewBox="0 0 16.317 15.323">
                    <g data-name="Group 1167"><g data-name="Group 1166"><path data-name="Path 1349" d="M.004 5.359a.7.7 0 00.587.693l6.091 1.609L.591 9.27a.7.7 0 00-.587.693v4.656a.7.7 0 00.206.5.726.726 0 00.119.1.7.7 0 00.675.044l14.911-6.958a.7.7 0 000-1.274L1.004.066a.7.7 0 00-1 .637zm13.952 2.3" fill="#fff"/></g></g>
                  </svg>
                </button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="footer-description">
          <img src="images/logo.png" alt="logo">
          <p>
            All right reserved <br>
            Copyright © Apsho 2020
          </p>
          <ul class="footer-description-social">
            <li>
              <a href="#"><i class="ti-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="ti-twitter-alt"></i></a>
            </li>
            <li>
              <a href="#"><i class="ti-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="ti-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="footer-widget">
          <h4>Sitemap</h4>
          <div class="footer-widget-list">
            <ul>
              <li> <a href="#"> About Apsho</li></a>
              <li> <a href="#"> Frequently Ask Question</li></a>
              <li> <a href="#"> Privacy & Policy</li></a>
              <li> <a href="#">Latest Article</li></a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="footer-widget">
          <h4>Address</h4>
          <div class="footer-widget-list">
            <ul>
              <li><a href="tel:+(448) 833 5272 332"><i class="ti-mobile"></i>+(448) 833 5272 332</li></a>
              <li><a href="mailto:apsho@example.com"><i class="ti-email"></i>apsho@example.com</li></a>
              <li><i class="ti-pin"></i>23 Khan Niketon, Grand Street, NYK.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>