<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-tittel">
          <h1>Get the latest app updates</h1>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="from-group">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Enter Your E-mail" aria-label="Recipient's username"
              aria-describedby="basic-addon2">

            <div class="Subscribe">
              <a href="#" class="btn btn-primary">
                <i class="fa fa-play" aria-hidden="true"></i>
                <span class="btn-area">
                  Subscribe
                </span>
              </a>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-left">
          <img src="images/logo.png" alt="">
          <div class="coppy-right">
            <p>All right reserved <br>
              Copyright <i class="fa fa-copyright" aria-hidden="true"></i>Apsho 2019</p>
          </div>
          <div class="footer-icon">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-mid">
          <h1>Sitemap</h1>
          <div class="footer-list">
            <ul>
              <li> <a href="#"> About Apsho</li></a>
              <li> <a href="#"> Frequently Ask Question</li></a>
              <li> <a href="#"> Privacy & Policy</li></a>
              <li> <a href="#">Latest Article</li></a>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-right">
          <h1>Sitemap</h1>
          <div class="footer-list">
            <ul>
              <li><a href="#"> <i class="fa fa-phone-square" aria-hidden="true"></i>+(448) 833 5272 332</li></a>
              <li><a href="#"> <i class="fa fa-envelope" aria-hidden="true"></i>apsho@example.com</li></a>
              <li><i class="fa fa-address-book-o" aria-hidden="true"></i>23 Khan Niketon, Grand Street, NYK.</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
</footer>