<section class="Frequently ">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="frequently-left-contant">
                    <div class="services-content">
                        <img src="images/service-icons/Group1171.svg" alt="">
                        <h4>What is Apshow?</h4>
                        <p>They generate alignment & engagement. This leads to happier.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="frequently-right-contant">
                    <div class="services-content">
                        <img src="images/service-icons/Group1171.svg" alt="">
                        <h4>How can i Install?</h4>
                        <p>They generate alignment and engagement. This leads to happier</p>
                    </div>
                </div>
                <div class="frequently-right-contant frequently1">
                    <div class="services-content">
                        <img src="images/service-icons/Group1171.svg" alt="">
                        <h4>How to purchase?</h4>
                        <p>They generate alignment and engagement. This leads to happier</p>
                    </div>
                </div>


            </div>

            <div class="col-lg-6">
                <div class="frequently-right-aria">
                    <div class="feature-righr-aria">
                        <div class="feature-contant">
                            <h1>Frequently asked any
                                type questions</h1>
                            <p>The quick brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog. Junk MTV
                                quiz
                                graced by
                                fox
                                whelps. Bawds jog flick quartz vex nymphs. Waltz bad nymph for quick vex! Fox nymphs
                                grab
                                quick-jived
                                waltz.
                            </p>
                            <p> Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack. Quick wafting
                                zephyrs.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>