 <section class="hero">

   <div class="container">
     <div class="row">
       <div class="col-lg-6">
         <div class="hero-content">
           <h3>Networking</h3>
           <h1>Turn your business to
             next level</h1>
           <p>
             Enjoy team diversity and increase their networks among others people in various fields by providing an
             exceptional facilities and coworking.
           </p>
           <a href="#" class="btn btn-primary ">
             <i class="fa fa-apple"></i>
             <span class="btn-area">
               <p>Available on</p> <br>
               Apple Store
             </span>
           </a>
           <a href="#" class="btn btn-primary">
             <i class="fa fa-play" aria-hidden="true"></i>
             <span class="btn-area">
               <p>Available on</p> <br>
               Google Play
             </span>
           </a>
         </div>
       </div>
       <div class="col-lg-6">
         <div class="hero-image">
           <img src="images/hero/hero-image.png" alt="hero-img">
         </div>
       </div>
     </div>
   </div>
 </section>