<section class="screenshots">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="screenshots-title">
          <h2>
            Have a look our awesome <br />
            app screenshots
          </h2>
          <p>
            Credibly synthesize multimedia based networks vis-a-vis top-line
            growth strategies. Continually leverage existing worldwide
            interfaces
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="screenshots-wrapper">
    <div class="screenshots-slider-frame">
      <img src="images/screenshots/slider-frame.svg" alt="slider-frame" />
    </div>
    <div class="screenshots-slider">
      <div class="screenshots-slider-item">
        <img src="images/screenshots/slider1.png" alt="" />
      </div>
      <div class="screenshots-slider-item">
        <img src="images/screenshots/slider2.png" alt="" />
      </div>
      <div class="screenshots-slider-item">
        <img src="images/screenshots/slider3.png" alt="" />
      </div>
      <div class="screenshots-slider-item">
        <img src="images/screenshots/slider4.png" alt="" />
      </div>
      <div class="screenshots-slider-item">
        <img src="images/screenshots/slider5.png" alt="" />
      </div>
      <div class="screenshots-slider-item">
        <img src="images/screenshots/slider2.png" alt="" />
      </div>
    </div>
  </div>
</section>
