<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <div class="services-hadding">
          <h1>You can benefit more than <br>
            you think</h1>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="services-box">
          <div class="services-content">
            <img src="images/service-icons/Group1171.svg" alt="">
            <h4>No Setup</h4>
            <p>They generate alignment and engagement. This leads to happier</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="services-box">
          <div class="services-content">
            <img src="images/service-icons/Group1171.svg" alt="">
            <h4>Free Trial</h4>
            <p>They generate alignment and engagement. This leads to happier</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="services-box">
          <div class="services-content">
            <img src="images/service-icons/Group1171.svg" alt="">
            <h4>Quick Access</h4>
            <p>They generate alignment and engagement. This leads to happier</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="services-box">
          <div class="services-content">
            <img src="images/service-icons/Group1171.svg" alt="">
            <h4>Optimized Data</h4>
            <p>They generate alignment and engagement. This leads to happier</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>