<section class="testimonial">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="testimonial-content">
          <h2>
            What clients are say about this app
          </h2>
          <p>
            The quick brown fox jumps over a lazy dog. DJs flock by when MTV ax
            quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog flick
            quartz vex nymphs. Waltz bad nymph for quick vex! Fox nymphs grab
            quick-jived waltz.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="testimonial-slider">
          <div class="testimonial-slider-item">
            <p>
              This is the best overall experience I have had with any template
              of any kind. Statimania made me feel like a valued customer and I
              feel empowered.
            </p>
            <div class="testimonial-slider-person">
              <div class="thumb">
                <img src="images/client/client-2.png" alt="person-thumb" />
              </div>
              <div class="content">
                <h3>Rotis Roy</h3>
                <p>Senior Developer</p>
              </div>
            </div>
          </div>
          <div class="testimonial-slider-item">
            <p>
              Apsho was easy to set-up and more importantly, was dead simple to
              customize. Buy this on sight. Most worthy template I've ever buy
            </p>
            <div class="testimonial-slider-person">
              <div class="thumb">
                <img src="images/client/client-1.png" alt="person-thumb" />
              </div>
              <div class="content">
                <h3>Jona Raisha</h3>
                <p>UX Designer</p>
              </div>
            </div>
          </div>
          <div class="testimonial-slider-item">
            <p>
              Best. customer. service. Seriously, I opened a ticket and they
              were so helpful and really seemed to care about my experience.
            </p>
            <div class="testimonial-slider-person">
              <div class="thumb">
                <img src="images/client/client-3.png" alt="person-thumb" />
              </div>
              <div class="content">
                <h3>Xevier John</h3>
                <p>CTO</p>
              </div>
            </div>
          </div>
          <div class="testimonial-slider-item">
            <p>
              We’ve used their templates before and have always been hugely
              satisfied - Stack is no exception
            </p>
            <div class="testimonial-slider-person">
              <div class="thumb">
                <img src="images/client/client-3.png" alt="person-thumb" />
              </div>
              <div class="content">
                <h3>Kerri Reece</h3>
                <p>Designer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
