<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-col-lg-2 mx-auto">
        <div class="testimonial-tittel">
          <h1>Have a look our awesome <br>
            app screenshots</h1>
          <p>Credibly synthesize multimedia based networks vis-a-vis top-line growth strategies. Continually leverage
            existing worldwide interfaces</p>
        </div>

      </div>
    </div>
  </div>
  <div class="testimonial-wrapper">
    <div class="testimonial-slider-frame">
      <img src="images/testimonial/slider-frame.svg" alt="slider-frame">
    </div>
    <div class="testimonial-slider">
      <div class="testimonial-slider-item">
        <img src="images/testimonial/slider1.png" alt="">
      </div>
      <div class="testimonial-slider-item">
        <img src="images/testimonial/slider2.png" alt="">
      </div>
      <div class="testimonial-slider-item">
        <img src="images/testimonial/slider3.png" alt="">
      </div>
      <div class="testimonial-slider-item">
        <img src="images/testimonial/slider4.png" alt="">
      </div>
      <div class="testimonial-slider-item">
        <img src="images/testimonial/slider5.png" alt="">
      </div>
      <div class="testimonial-slider-item">
        <img src="images/testimonial/slider2.png" alt="">
      </div>
    </div>
  </div>

</section>