<!-- Non Critical CSS -->
<link href="css/non-critical.css" rel="stylesheet" />
<!-- Vendor JS -->
<script src="vendor/jQuery/jquery.min.js"></script>
<script src="vendor/bootstrap/bootstrap.min.js"></script>
<script src="vendor/slick/slick.min.js"></script>
<script src="vendor/aos/aos.js"></script>
<script src="vendor/match-height/match-height.js"></script>
<script src="vendor/headroomjs/headroom.min.js"></script>
<script src="vendor/magnific-popup/magnific-popup.min.js"></script>

<!-- Main JS -->
<script src="js/script.js"></script>
</body>
</html>