<!-- Non Critical CSS -->
<link href="css/non-critical.css" rel="stylesheet" />
<!-- Vendor JS -->
<script src="plugins/jQuery/jquery.min.js"></script>
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/slick/slick.min.js"></script>
<script src="plugins/aos/aos.js"></script>
<script src="plugins/match-height/match-height.js"></script>
<script src="plugins/headroomjs/headroom.min.js"></script>
<script src="plugins/magnific-popup/magnific-popup.min.js"></script>

<!-- Main JS -->
<script src="js/script.js"></script>
</body>
</html>