.btn{
  font-size: 18px;
  padding: 18px 50px;
  border-radius: 50px;
  transition: 0.5s ease;
  &:focus{
    box-shadow: none;
  }
  .btn-area{
    display: block;
    overflow: hidden;
    span{
      position: relative;
      display: block;
      padding: 2px 0;
      transition: transform .7s cubic-bezier(.19,1,.22,1);
      transform-origin: left center;
      &::after{
        content: attr(data-text);
        position: absolute;
        top: 150%;
        left: 0;
        transform: skewY(30deg);
        transform-origin: left center;
        transition: transform .7s cubic-bezier(.19,1,.22,1);
      }
    }
  }
  &:hover{
    .btn-area{
      span{
        transform: translateY(-150%) skewY(7deg);
        &::after{
          transform: skewY(-7deg);
        }
      }
    }
  }
}

.btn-primary{
  background: $primary-color;
  color: $white;
  border: 1px solid $primary-color;
  &:hover{
    background: $white;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

.btn-sm{
  padding: 15px 45px;
  font-size: 16px;
}

.btn-primary-outline{
  color: $primary-color;
  border-color: $border-color;
  &:hover{
    background-color: $primary-color;
    color: $white;
    border-color: $primary-color;
  }
}